clusterDomain: ""
spec: allinone # allinone|infra|ccp
imageHub: docker.io/cnvrg

labels: { }

annotations: { }

gpu:
  nvidiaDp:
    enabled: true

controlPlane:
  image: core:3.9.13
  baseConfig:
    agentCustomTag: latest
    intercom: "true"
    featureFlags: { }
  hyper:
    enabled: true
  cnvrgScheduler:
    enabled: true
  cnvrgClusterProvisionerOperator:
    enabled: true
  objectStorage:
    type: minio
    bucket: cnvrg-storage
    region: eastus
    accessKey: ""
    secretKey: ""
    endpoint: ""
    azureAccountName: ""
    azureContainer: ""
    gcpSecretRef: gcp-storage-secret
    gcpProject: ""
  searchkiq:
    enabled: true
    hpa:
      enabled: true
      maxReplicas: 5
  sidekiq:
    enabled: true
    split: true
    hpa:
      enabled: true
      maxReplicas: 5
  cnvrgRouter:
    enabled: false
    image: nginx:1.21.0
  smtp:
    server: ""
    port: 587
    username: ""
    password: ""
    domain: ""
    opensslVerifyMode: ""
  systemkiq:
    enabled: true
    hpa:
      enabled: true
      maxReplicas: 5
  webapp:
    enabled: true
    replicas: 1
    hpa:
      enabled: true
      maxReplicas: 5

  mpi:
    enabled: true
    image: "mpioperator/mpi-operator:v0.2.3"
    kubectlDeliveryImage: "mpioperator/kubectl-delivery:v0.2.3"
    extraArgs: { }
    registry:
      url: "docker.io"
      user: ""
      password: ""

  ldap:
    enabled: false
    host: ""
    port: ""
    account: "userPrincipalName"
    base: ""
    adminUser: ""
    adminPassword: ""
    ssl: "false"

dbs:
  es:
    enabled: true
    storageSize: 80Gi
    storageClass: ""
    patchEsNodes: true
    nodeSelector: { }
  minio:
    enabled: true
    storageSize: 100Gi
    storageClass: ""
    nodeSelector: { }
  pg:
    enabled: true
    storageSize: 80Gi
    storageClass: ""
    nodeSelector: { }
    hugePages:
      enabled: false
      size: 2Mi
      memory: ""
  redis:
    enabled: true
    storageSize: 10Gi
    storageClass: ""
    nodeSelector: { }

logging:
  fluentbit:
    enabled: true
  elastalert:
    enabled: true
    storageSize: "30Gi"
    storageClass: ""
    nodeSelector: { }
  kibana:
    enabled: true

monitoring:

  dcgmExporter:
    enabled: true

  nodeExporter:
    enabled: true

  kubeStateMetrics:
    enabled: true

  grafana:
    enabled: true

  prometheusOperator:
    enabled: true

  prometheus:
    enabled: true
    storageSize: "50Gi"
    storageClass: ""
    nodeSelector: { }

  defaultServiceMonitors:
    enabled: true

  cnvrgIdleMetricsExporter:
    enabled: true
    labels: { }

networking:
  https:
    enabled: false
    certSecret: ""
  proxy:
    enabled: false
    httpProxy: [ ]
    httpsProxy: [ ]
    noProxy: [ ]
  ingress:
    type: "istio"
    istioGwEnabled: true
    istioGwName: ""
  istio:
    enabled: true
    externalIp: [ ]
    ingressSvcAnnotations: { }
    ingressSvcExtraPorts: [ ]
    lbSourceRanges: [ ]

sso:
  enabled: false
  adminUser: ""
  provider: ""
  emailDomain: [ ]
  clientId: ""
  clientSecret: ""
  azureTenant: ""
  oidcIssuerUrl: ""

storage:
  hostpath:
    enabled: false
    defaultSc: false
    path: /cnvrg-hostpath-storage
    reclaimPolicy: Retain
    nodeSelector: { }
  nfs:
    enabled: false
    server: ""
    path: ""
    defaultSc: false
    reclaimPolicy: Retain

tenancy:
  enabled: false
  key: "purpose"
  value: "cnvrg-control-plane"

registry:
  url: docker.io
  user: ""
  password: ""

configReloader:
  enabled: true

capsule:
  enabled: true
  image: "cnvrg-capsule:1.0.2"

backup:
  enabled: true
  rotation: 5
  period: 24h

